.bot_container {
    position: relative;
    width: 100%;
    left: 0px;
    top: 80px;
}

.bot_container .content {
    width:100%;
    margin: 10px;
}

.bot_container .header .add{
    right: 70px;
    position: absolute;
}

:local(.modules){
    left: 500px;
    display: inline-block;
    height: 80px;
    position: absolute;
}

:local(.modules .module) {    
    height: 80px;
    line-height: 80px;
    text-align: center;
    top: 0px;
    display: inline-block;
    font-family: Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #1E1E1E;
    padding-left: 15px;
    padding-right: 15px;
}

/* Rectangle 8 */

.bot_container .main_opt .menu {
width: 256px;
background: #2F313A;
}

.bot_container .main_opt .main_opt_content {
    position: absolute;
    left: 257px;
    width: calc(100% - 258px);
    padding: 40px;
}

.bot_container .bot_options {
    padding: 40px;
    position: relative;
}

.bot_container .bot_options .modules_content {
    position: absolute;
    left: 257px;
    width: calc(100% - 300px);
    padding-left: 40px;
	height: calc(100vh - 240px);
}

.bot_container .Broadcast {
    padding: 40px;
    position: relative;
}