BODY {
    background: #FBFBFB;
}
a {text-decoration: none }
a:hover {text-decoration: underline }

.button{
    margin-top: 20px;
    width: 176px;
    height: 42px;
    background: #484DCF;
    border-radius: 5px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    background-color: #282DBF;
}

.chapter_header {
    font-family: Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    color: #1E1E1E;
    padding-bottom: 4px;
}

.text_input {
    padding-top: 10px;
    padding-bottom: 10px;
    left: 12px;
    font-family: Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 14px;
    color: #1E1E1E;
}

.text_input input[type="text"], .text_input textarea, .text_input input[type="file"]{
    width: 372px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #E2E4FA;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 10px;
    vertical-align: middle;
}

.text_input input[type="number"] {
    width: 90px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #E2E4FA;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 10px;
    vertical-align: middle;
}

.text_input textarea{
    height: auto;
}

.bot_options .optionsButton{
    cursor: pointer;
    vertical-align: middle;
    font-size: 2em;
    padding: 4px;
}

.bot_options .optionsButton:active{
    box-shadow: inset 2px 2px 2px #666;
}